<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
	例如namespace="com.lql.mapping.userMapper"就是com.lql.mapping(包名)+userMapper(userMapper.xml文件去除后缀) -->
<!--SELECT * FROM datainfo d ,userinfo u WHERE d.ownerId=u.userId AND d.dataId=#{dataId}-->
<mapper namespace="com.lql.dao.ChainACInfoMapper">
    <select id="getChainControlInfoByDataId" resultMap="resultAcdataMap" parameterType="java.lang.String">
        select * from chaincontrolinfo where dataId=#{dataId}
    </select>

    <resultMap type="com.lql.domain.ChainControlInfo" id="resultAcdataMap">
        <id column="cid" property="id"/>
        <result column="dataId" property="dataId"/>
        <result column="upVisibility" property="upVisibility"/>
        <result column="downVisibility" property="downVisibility"/>
        <result column="security" property="security"/>
        <result column="dataMsgVisibility" property="dataMsgVisibility"/>
        <result column="policyId" property="policyId"/>
    </resultMap>

    <insert id="addChainControlInfo" parameterType="com.lql.domain.ChainControlInfo">
        INSERT INTO
        chaincontrolinfo(dataId,upVisibility,downVisibility,security,dataMsgVisibility)
        VALUES(#{dataId},#{upVisibility},#{downVisibility},#{security},#{dataMsgVisibility})
    </insert>

    <update id="updateChainControlInfoByDataId" parameterType="com.lql.domain.ChainControlInfo">
      UPDATE chaincontrolinfo SET
      upVisibility = #{upVisibility},downVisibility=#{downVisibility},security=#{security},dataMsgVisibility=#{dataMsgVisibility}
      WHERE dataId=#{dataId}
    </update>

</mapper>