<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
	例如namespace="com.lql.mapping.userMapper"就是com.lql.mapping(包名)+userMapper(userMapper.xml文件去除后缀) -->
<!--SELECT * FROM datainfo d ,userinfo u WHERE d.ownerId=u.userId AND d.dataId=#{dataId}-->
<mapper namespace="com.lql.dao.AcDataInfoMapper">
    <select id="getDataInfoById" resultMap="resultDataMap" parameterType="java.lang.String">
         SELECT dataId,ownerId FROM datainfo WHERE dataId = #{dataId}
    </select>

    <resultMap type="com.bigdata.domain.DataInfo" id="resultDataMap">
        <result column="dataId" property="dataId"/>
        <result column="ownerId" property="ownerId"/>
        <!--<result column="dataName" property="dataName"/>-->
        <!--<result column="type" property="type"/>-->
        <!--<result column="functionType" property="functionType"/>-->
        <!--<result column="description" property="description"/>-->
        <!--<result column="status" property="status"/>-->
        <!--<result column="time" property="time"/>-->
        <!--<result column="dataSize" property="dataSize"></result>-->
        <!--<result column="relation" property="relation"></result>-->
        <!--<result column="policyId" property="policyId"></result>-->
        <!--<association property="owner" javaType="com.lql.domain.UserInfo">-->
            <!--<result column="userId" property="userId"/>-->
            <!--<result column="userName" property="userName"/>-->
            <!--<result column="password" property="password"/>-->
            <!--<result column="email" property="email"/>-->
            <!--<result column="apiKey" property="apiKey"/>-->
            <!--<result column="hobby" property="hobby"/>-->
            <!--<result column="profession" property="profession"/>-->
            <!--<result column="company" property="company"/>-->
            <!--<result column="department" property="department"/>-->
            <!--<result column="insertDate" property="insertDate"/>-->
            <!--<result column="type" property="type"/>-->
            <!--<result column="plate" property="plate"/>-->
        <!--</association>-->
        <!--<association property="policy" javaType="com.lql.domain.Policy">-->
            <!--<id column="pid" property="pid"/>-->
            <!--<result column="ptype" property="ptype"/>-->
            <!--<result column="operation" property="operation"/>-->
            <!--<result column="attributes" property="attributes"/>-->
            <!--<result column="vectors" property="vectors"/>-->
            <!--<result column="attributesNum" property="attributesNum"/>-->
            <!--<result column="vectorsLength" property="vectorsLength"/>-->
            <!--<result column="description" property="description"/>-->
            <!--<result column="xmlUrl" property="xmlUrl"/>-->
        <!--</association>-->
    </resultMap>

    <!--<select id="getDataInfoById2" resultMap="resultDataMap" parameterType="java.lang.String">-->
        <!--SELECT * FROM datainfo d ,userinfo u , ac_policy p-->
        <!--<where>-->
            <!--<if test="d.ownerId != null">d.ownerId=u.userId</if>-->
            <!--<if test="d.policyId != null">AND d.policyId=p.pid</if>-->
            <!--<if test="d.dataId != null">AND d.dataId =#{dataId}</if>-->
        <!--</where>-->
    <!--</select>-->
    <select id="queryPolicyIdsByDataId" parameterType="java.util.List" resultType="com.bigdata.domain.DataInfo">
        SELECT policyId,dataId FROM datainfo WHERE dataId IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="queryPolicyIdByDataId" parameterType="java.lang.String" resultType="com.bigdata.domain.DataInfo">
        SELECT policyId,dataId FROM datainfo WHERE dataId=#{dataId}
    </select>
</mapper>